<manifest package="com.baldev.answerme"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="com.baldev.answerme.AnswerMeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_twitter"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.baldev.answerme.views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.baldev.answerme.views.CreateQuestionActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="com.baldev.answerme.views.AnswerQuestionActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="com.baldev.answerme.views.QuestionDetailsActivity">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8bee4f87a0326b688f681ff4bf3d4d624c3f4499"/>
    </application>

</manifest>
